body {
    color: hsl(0, 0%, 21%);
    background-color: rgba(140, 171, 212, 0.993);
  }
  h1{
      font-size: 36px;
    
  }
  h2 {
    

    font-size: 28px;
  }
  h1,h2{
    font-family: "Helvetica", "Arial", sans-serif;
  }
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  
  ol {
    list-style-type: upper-roman;
  }
  #swagText{
    font-size: 16px;
    font-family: "Helvetica", "Arial", sans-serif;
    color: rgb(2, 22, 22);
  }
  .button{
    background-color: cornflowerblue;
    color:rgb(173, 173, 173);
    border: 2px solid rgb(22, 22, 199); 
    border-radius: 4px;
    margin: 300 px auto;
    margin-top: 300px;
    width: 140px;
    display: block;
  }
  .button:hover{
    background-color: rgb(23, 49, 97);
    border: 2px solid rgb(6, 6, 58); 
  }
  ul {
    /* list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #646464; */
  }
  li {
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
    margin-right: 10px;
    background-color: #573939;
    text-decoration: none;
    border-radius: 10px;
  }
  li a:hover{
    background-color: rgb(58, 66, 107);
   
    border: 2px solid rgb(6, 6, 58); 
  }